$clr_grey:          #444444;
$clr_dark_grey:     #999999;
$clr_light_grey:    #DDDDDD;
$clr_lightest_grey: #F9F9F9;
$clr_red:           #DD0011;
$clr_green:         #88DD22;
$clr_blue:          #1166EE;