<?xml version='1.4' encoding='utf-8'?>
<widget id="com.jbonigomes.IOU" version="0.0.4" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>IOU</name>
    <description>
        IOU - Share your expenses with Facebook friends
    </description>
    <author email="jbonigomes@yahoo.com.br" href="http://jbonigomesbbk.github.io/">
        The IOU Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
