@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/josegomes\/Desktop\/projects\/projs_bbk\/finalproj\/implementation\/app\/styles\/_overrides\.scss}line{font-family:\000032}}
.bar a.button-full,
.bar a.button-block {
  width: 100%;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/josegomes\/Desktop\/projects\/projs_bbk\/finalproj\/implementation\/app\/styles\/_overrides\.scss}line{font-family:\000039}}
.bar-footer {
  height: 60px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/josegomes\/Desktop\/projects\/projs_bbk\/finalproj\/implementation\/app\/styles\/_overrides\.scss}line{font-family:\0000313}}
.has-footer {
  bottom: 60px;
}
