<ion-view view-title="IOU">
  <ion-content>
    <div class="list">
      <ion-list>
        <div class="bar bar-header item-input-inset">
          <ion-search placeholder="Search" filter="search"></ion-search>
        </div>

        <ion-item ng-repeat="member in members | filter:search.value"
                  class="item-content lists-list members-list">
          <img ng-src="https://graph.facebook.com/{{member.id}}/picture">
          <span>{{ member.name }}</span>
          <button class="button button-balanced add-user" ng-click="selectMember(member.id)">
            ADD
          </button>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
  <ion-footer-bar>
    <button ng-click="goBack()" class="button button-block button-positive">
      CANCEL
    </button>
  </ion-footer-bar>
</ion-view>
