<ion-view view-title="IOU">
  <ion-content>

    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refreshList()">
    </ion-refresher>

    <div class="overviewprice {{bought.total().type}}">
      {{ bought.total().value | currency:'£':2 }}
    </div>

    <div class="inner-menu">
      <a href="#" class="active">LIST</a>
      <a href="#/app/members/{{userdata.listid}}">MEMBERS</a>
    </div>

    <div class="no-items" ng-show="userdata.noitems">
      You do not have any items yet, click the ‘New’ button below to get started
    </div>

    <div class="list">
      <ion-list>
        <div class="item item-divider">Items to buy</div>
        <!-- href="#/app/editproduct/{{item.id}}" -->
        <ion-item ng-repeat="item in tobuy"
                  ng-click="openModal(item.$id)"
                  class="item-content lists-list products-list">
          <img src="images/tobuy.png">
          <span>{{ item.name }}</span>
        </ion-item>

        <div class="item item-divider">Bought items</div>
        <ion-item ng-repeat="item in bought"
                  href="#/app/editproduct/{{item.$id}}"
                  class="item-content lists-list products-list">

          <img ng-src="https://graph.facebook.com/{{item.owner}}/picture">
          <span>{{ item.name }}</span>
          <span class="pricetag {{item.type}}">
            {{ item.price | currency:'£':2 }}
          </span>
          <span class="datetag">
            {{ item.amended | iif: 'amended @ ' : '' }}
            {{ item.date  | date:'d MMM yyyy' }}
          </span>
        </ion-item>
      </ion-list>
    </div>

  </ion-content>
  <ion-footer-bar>
    <a href="#/app/newproduct" class="button button-block button-positive">
      NEW
    </a>
  </ion-footer-bar>
</ion-view>
